

fn main() Void {
  assert(true);
  assertFalse(false);
  assertFalse(!true);

  assert(1 == 1);
  assertFalse(1 == 2);
  assertFalse(1 != 1);
  assert(1 != 2);

  assert(2 + 2 == 4);
  assertEqual(2 + 2, 4);
  assertEqual(repr(24), "24");

  assertEqual("hi", "hi");

  print("Tests pass!");
}


